body{
    background-color: aqua;
}
#resultado{
    border: 2px solid;
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: cadetblue
}
#contenedor{
    height: 550px;
    border-radius: 85% 15% 85% 15% / 10% 86% 14% 90% ;
    margin-top: 50px;
    background-color: rgb(205, 253, 241);
}
#peso_texto{
    margin-top: 40px;
}
#peso{
   width: 70px;
   height: 30px;
   align-content: center;
   align-items: center;
}
#altura{
    width: 70px;
    height: 30px;
    align-content: center;
    align-items: center; 
    margin-bottom: 40px;
}
#altura_texto{
    margin-top: 20px;
}
#boton{
    margin-bottom: 40px;
}
#texto{
    margin-top: 35px;
}
